In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_ol_shop = pd.read_csv('./Data/online_shoppers_intention.csv')

df_ol_shop.sample(5)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
7072,2,174.600000,0,0.0,12,251.200000,0.061905,0.080612,0.000000,0.0,Aug,3,2,6,1,Returning_Visitor,False,False
7057,3,346.000000,1,15.2,29,1107.216667,0.006061,0.006701,69.914392,0.0,Nov,2,2,5,2,Returning_Visitor,False,False
6090,5,78.633333,0,0.0,7,176.833333,0.000000,0.023077,0.000000,0.0,Jul,2,4,1,5,New_Visitor,False,False
7627,1,63.400000,0,0.0,6,137.600000,0.000000,0.013333,0.000000,0.0,Oct,2,2,3,1,Returning_Visitor,False,False
11359,0,0.000000,0,0.0,23,533.700000,0.000000,0.021532,0.000000,0.0,Dec,1,1,3,2,New_Visitor,True,False

### A. Missing Handle Value

In [4]:
df_ol_shop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

#### Tidak terdapat missing value, sehingga tidak perlu handdling missing value.